.comment {
  display: flex;
  padding: 20px;
  margin-left: 80px;
}

.comment__lineOne {
  display: flex;
  font-size: 14px;
  margin-left: 10px;
}

.comment__lineOneTimestamp {
  color: gray;
  margin-left: 5px;
}

.comment__lineTwo {
  margin: 10px 0px 10px 10px;
}

.comment__lineThree {
  display: flex;
}

.comment__lineThreeItem {
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.comment__lineThreeItemIcon {
  font-size: 14px !important;
  margin-right: 5px;
  color: gray;
}
