.videoDescription {
  color: gray;
  padding: 10px;
}

.videoDescription > h2 {
  font-size: 20px;
  font-weight: 400;
}

.videoDescription__details {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}

.videoDescription__detailsViewsnTime {
  flex: 0.5;
}

.videoDescription__details_extras {
  flex: 0.5;
  display: flex;
}

.videoDescription__details_extrasItem {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.videoDescription__details_extrasItemIcon {
  margin-right: 10px !important;
}
